node_modules
yarn.lock
dist
yarn-error.log
package-lock.json
log/*
plugins/demo
data
.idea
config/databases.js
.DS_Store
.env.json
.DS_Store
logs/*.*
public/uploads/**/*.*
docker-data/*
public/assets/*
views/index.html
gg.json
.env